body {
  font-family: 'Helvetica' !important;
}

.found-list {
  position: absolute;
  z-index: 1000;
  float: left;
  min-width: 10rem;
  padding: 0.5rem;
  margin: 0.125rem 0px 0px;
  color: rgb(41, 43, 44);
  text-align: left;
  background-color: rgb(255, 255, 255);
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  display: none;
}